*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* Base body styles  */
body {
  font-family: var(--font);
  font-size: var(--font-size-base);
  color: var(--text-primary);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Form elements */
button,
input,
textarea,
select {
  font-family: var(--font);
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Media */
img {
  display: block;
  max-width: 100%;
}

/* SVG */
svg {
  display: inline-block;
  max-width: 100%;
}
